body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4; /* Light gray background for contrast */
  font-family: "Arial", sans-serif;
}
